/* Container do slider */
.slider {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; /* Permite que os cards se organizem em múltiplas linhas */
  margin: 0 1rem; /* Ajusta o espaçamento negativo para compensar a margem */
  padding: 1rem; /* Espaçamento interno para evitar que os cards fiquem encostados na borda */
}

/* Estilo dos cards */
.slider .card {
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
  width: 300px; /* Largura fixa */
  max-width: 300px;
  height: 250px; /* Altura fixa */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Necessário para o posicionamento absoluto do botão */
}
/* Estilo das imagens no card */
.slider .card img.card-img-top {
  width: 100%;
  height: 200px; /* Altura fixa para as imagens */
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

/* Estilo do título do card */
.slider .card h5.card-title {
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

/* Estilo da descrição do card */
.slider .card p.card-text {
  width: 100%;
  text-align: left;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de linhas a serem exibidas */
  -webkit-box-orient: vertical;
  line-clamp: 3; /* Número de linhas a serem exibidas */
  box-orient: vertical;
  flex-grow: 1; /* Permite que o texto cresça e ocupe o espaço disponível */
}

/* Estilo do botão "Saiba mais" */
.slider .card a.btn {
  background-color: #4a427c;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Posicionamento absoluto */
  bottom: 1rem; /* Distância da parte inferior do card */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta a centralização */
  width: 90%;
}

/* Efeito de hover no botão */
.slider .card a.btn:hover {
  border: 2px solid #4a427c;
  background-color: whitesmoke;
  color: #4a427c;
  font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .slider .card {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .slider .card {
    max-width: 100%;
  }
}
 .text-color{
  color: dimgrey;
  padding-left: 5px;
 }