<div class="dialog-container">
  <h2>Editar Vaga</h2>

  <form [formGroup]="editarVagaForm" (ngSubmit)="atualizarVaga()">
    <mat-form-field appearance="fill">
      <mat-label>Título da Vaga</mat-label>
      <input matInput formControlName="tituloVaga">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição da Vaga</mat-label>
      <textarea matInput formControlName="descVaga"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Localização</mat-label>
      <input matInput formControlName="localizacaoVaga">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valor do Pagamento</mat-label>
      <input matInput type="number" formControlName="valorPagamento">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de Criação</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataCriacao">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <div *ngIf="vaga.usuarioPreenchido && vaga.statusVaga === 'Preenchida'">
      <p style="color: black;">Usuário atual: {{ vaga.usuarioPreenchido.nomeUsuario }}</p>

      <button 
        type="button"
        mat-raised-button 
        [color]="demitirUsuarioConfirmado ? 'accent' : 'warn'"
        (click)="demitirUsuario()" 
        [disabled]="demitirUsuarioConfirmado">
        {{ demitirUsuarioConfirmado ? 'Demitido' : 'Demitir Usuário' }}
      </button>
    </div>

    <div class="button pb-2 pt-2">
      <button mat-raised-button type="button" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="button">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>
</div>