<img
  src="../../../assets/logo.png"
  alt="logo"
  width="10%"
  height="10%"
  class="logo"
/>
<div class="container">
  <div class="div-logo"></div>
  <br />
  <div class="row">
    <div class="col-2 alinhar-centro"></div>
    <div class="col-8 alinhar-centro caixa-branca">
      <div class="container">
        <div class="row">
          <div class="col-6 alinhar-centro border-direita vertical">
            <div class="mb-4 mt-2">
              <h6 class="cor-text"><b>Cadastro</b></h6>
            </div>
            <form style="width: 80%">
              <div class="mb-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nome Completo*"
                />
              </div>
              <div class="mb-4">
                <input type="text" class="form-control" placeholder="Cep*" />
              </div>
              <div class="mb-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Usuário*"
                />
              </div>
              <div class="mb-4">
                <input
                  type="email"
                  class="form-control"
                  placeholder="E-mail*"
                />
              </div>
              <div class="mb-4">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Senha*"
                />
              </div>
              <div class="mb-4">
                <button class="btn btn-color form-control alinhar-centro">
                  Cadastrar-se
                </button>
              </div>
            </form>
            <div class="tem-conta mb-4">
              <p style="color: #747474">
                Ja tem sua conta?
                <a href="login" class="cor-text text-reset"
                  ><b>Entrar em sua conta</b></a
                >
              </p>
            </div>
          </div>
          <div class="col-6  vertical">
            <div class="container">
              <div class="row">
                <div class="col-12 p-0 d-flex justify-content-center flex-column align-items-center">
                  <div class="mt-2 mb-4">
                    <h6 class="cor-text align-items-center d-flex justify-content-center"><b>Continuar com</b></h6>
                  </div>
                  <div class="mb-4">
                    <button class="d-flex justify-content-start btn login-button align-items-center"><img src="../../../../assets/google.png" width="25px" /><span> Entrar com <b style="color: rgb(225, 0, 0);">Google</b></span></button>
                  </div>
                  <div class="mb-4">
                    <button class="d-flex justify-content-start btn login-button align-items-center"><img src="../../../../assets/facebook.png" width="25px" /><span> Entrar com <b style="color: rgb(0, 0, 199);">Facebook</b></span></button>
                  </div>
                  <div class="mb-5">
                    <button class="d-flex justify-content-start btn login-button align-items-center"> <img src="../../../../assets/apple.png" width="26px" style="padding-bottom: 1px; " /><span> Entrar com <b style="color: black;">Apple</b></span></button>
                  </div>
                  <div class="tem-conta mb-4">
                    <span style="color: #747474">
                      Você é uma empresa? 
                      <a href="criar-conta-empresa" class="cor-text text-reset"
                        ><b>Cadastre-se grátis aqui.</b></a
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 alinhar-centro"></div>
  </div>
</div>
