<app-navbar></app-navbar>
<div class="container-fluid pt-5 pb-5 p-4">
  <h2 class="text-decoration-underline">Gerenciamento de Vagas</h2>

  <div class="d-flex justify-content-end mb-3">
    <button mat-raised-button class="cor-branca btn" (click)="openDialog()">Nova Vaga +</button>
  </div>

  <div *ngIf="!isLoading && !hasError" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table table table-striped" matSort>

      <!-- Id da Vaga Column -->
      <ng-container matColumnDef="idVaga">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cor-branca">Id da Vaga</th>
        <td mat-cell *matCellDef="let vaga">{{vaga.idVaga}}</td>
      </ng-container>

      <!-- Título da Vaga Column -->
      <ng-container matColumnDef="tituloVaga">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cor-branca">Título da Vaga</th>
        <td mat-cell *matCellDef="let vaga">{{vaga.tituloVaga}}</td>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef class="cor-branca">Ações</th>
        <td mat-cell *matCellDef="let vaga">
          <button class="btn btn-color" (click)="verDetalhes(vaga)"><i class="fa-solid fa-eye"></i></button>
          <button class="btn btn-secondary" (click)="editarVaga(vaga)"><i class="fa-solid fa-pencil"></i></button>
          <button class="btn btn-danger " (click)="excluirVaga(vaga)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalVagas" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>

  <ng-template #loading>
    <div class="loading-container">
      <img src="assets/loading.gif" alt="Carregando" class="loading-image">
      <p>Carregando...</p>
    </div>
  </ng-template>

  <div *ngIf="hasError && !isLoading" class="error-message">
    <p>Não foi possível encontrar nenhuma vaga existente.</p>
  </div>
</div>
<app-footer></app-footer>
