<div class="container-fluid dialog-content  ">
    <div class="container">
        <h1 class="title mb-5 mt-5">Política de Privacidade e Proteção de Dados</h1>
        <section>
          <h2 class="pt-5">1. Introdução</h2>
          <p>
            A plataforma UPS - Unidos para Servir está comprometida com a proteção da privacidade e dos dados pessoais de seus usuários, conforme estabelecido pela Lei nº 13.709/2018 - Lei Geral de Proteção de Dados Pessoais (LGPD). Esta política descreve como coletamos, usamos, armazenamos e protegemos os dados fornecidos pelos usuários em nossa plataforma.
          </p>
        </section>
      
        <section>
          <h2>2. Coleta de Dados</h2>
          <p>Nós coletamos os seguintes dados pessoais:</p>
          <ul>
            <li>Nome completo</li>
            <li>Endereço de e-mail</li>
            <li>Telefone</li>
            <li>Informações sobre experiências e preferências de voluntariado</li>
            <li>Dados de localização, quando autorizados pelo usuário</li>
          </ul>
          <p>
            <strong>Finalidade da Coleta:</strong> Todos os dados coletados são necessários para facilitar o processo de recrutamento para atividades de voluntariado, permitir a comunicação entre as partes interessadas e personalizar as oportunidades oferecidas.
          </p>
        </section>
      
        <section>
          <h2>3. Uso e Tratamento dos Dados</h2>
          <p>Os dados pessoais fornecidos serão utilizados para:</p>
          <ul>
            <li>Cadastro e autenticação do usuário;</li>
            <li>Comunicação sobre oportunidades de voluntariado e atualizações da plataforma;</li>
            <li>Personalização das ofertas de voluntariado com base nos interesses e localização;</li>
            <li>Melhorar a experiência do usuário no site.</li>
          </ul>
        </section>
      
        <section>
          <h2>4. Compartilhamento de Dados</h2>
          <p>
            Os dados pessoais coletados podem ser compartilhados com:
          </p>
          <ul>
            <li>Organizações parceiras que oferecem oportunidades de voluntariado;</li>
            <li>Autoridades legais, quando requisitado por lei, para cumprimento de obrigações legais.</li>
          </ul>
        </section>
      </div>
  </div>