<div class="container-fluid-md background-white">
  <img class="img-background" src="../../../assets/background.png" />
</div>

<div class="container-fluid background-white pt-5 pb-5">
  <div class="row">
    <h2>
      <p class="text-decoration-underline text-color" style="padding-left: 2%;">
        <b>Vagas em destaque</b>
      </p>
    </h2>
  </div>
  <div class="row">
    <app-slider></app-slider>
  </div>

  <div class="div-off-box">
    <div class="white-box row">
      <div class="title-box">
        <h3 class="title-box pb-3 text-decoration-underline text-color"><b>Buscas de Empregos mais populares</b></h3>
      </div>
      <div class="col-4">
        <!-- cabe 10 itens dentro de cada coluna -->
        <p><a class="text-color text-box" href="">Vendedor</a></p>
        <p><a class="text-color text-box" href="">Auxiliar de cozinha</a></p>
        <p><a class="text-color text-box" href="">Repositor</a></p>
        <p><a class="text-color text-box" href="">Enfermeiro</a></p>
        <p><a class="text-color text-box" href="">Gerente de Loja</a></p>
        <p><a class="text-color text-box" href="">Intérprete de Libras</a></p>
        <p><a class="text-color text-box" href="">Representante Comercial</a></p>
        <p><a class="text-color text-box" href="">Analista de TI</a></p>
        <p><a class="text-color text-box" href="">Assistente Comercial</a></p>
        <p><a class="text-color text-box" href="">Vigilante</a></p>
      </div>
      <div class="col-4">
        <!-- cabe 10 itens dentro de cada coluna -->
        <p><a class="text-color text-box" href="">Vendedor</a></p>
        <p><a class="text-color text-box" href="">Auxiliar de cozinha</a></p>
        <p><a class="text-color text-box" href="">Repositor</a></p>
        <p><a class="text-color text-box" href="">Enfermeiro</a></p>
        <p><a class="text-color text-box" href="">Gerente de Loja</a></p>
        <p><a class="text-color text-box" href="">Intérprete de Libras</a></p>
        <p><a class="text-color text-box" href="">Representante Comercial</a></p>
        <p><a class="text-color text-box" href="">Analista de TI</a></p>
        <p><a class="text-color text-box" href="">Assistente Comercial</a></p>
        <p><a class="text-color text-box" href="">Vigilante</a></p>
      </div>
      <div class="col-4">
        <!-- cabe 10 itens dentro de cada coluna -->
        <p><a class="text-color text-box" href="">Vendedor</a></p>
        <p><a class="text-color text-box" href="">Auxiliar de cozinha</a></p>
        <p><a class="text-color text-box" href="">Repositor</a></p>
        <p><a class="text-color text-box" href="">Enfermeiro</a></p>
        <p><a class="text-color text-box" href="">Gerente de Loja</a></p>
        <p><a class="text-color text-box" href="">Intérprete de Libras</a></p>
        <p><a class="text-color text-box" href="">Representante Comercial</a></p>
        <p><a class="text-color text-box" href="">Analista de TI</a></p>
        <p><a class="text-color text-box" href="">Assistente Comercial</a></p>
        <p><a class="text-color text-box" href="">Vigilante</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid-md">
  <app-footer></app-footer>
</div>
