<body>
  <img src="../../../assets/logo.png" alt="logo" class="logo" />
  <div class="caixa-branca">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
      "
    >
      <h6  class="title">Entrar com</h6>
    </div>
    <div style="display: flex; align-items: center; justify-content: center">
      <button class="icon-b">
        <i class="fa-brands fa-google fa-xl" style="color: #000000"></i>
      </button>
      <button class="icon-b">
        <i class="fa-brands fa-facebook fa-xl" style="color: #005eff"></i>
      </button>
      <button class="icon-b">
        <i class="fa-brands fa-apple fa-xl" style="color: #000000"></i>
      </button>
    </div>
    <br />
    <div class="separator title">ou</div>
    <br />
    <div class="login">
      <br />
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm"></span>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder=" E-mail"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder=" Senha"
        />
      </div>
      <div style="display: flex">
        <input type="checkbox" />
        <h5>termos de privacidade</h5>
      </div>
    </div>  
    <button class="entrar"><h4>Entrar</h4></button>
    <h4 class="title">Não tem conta?<a href="">Criar uma conta</a></h4>
  </div>
</body>
