<div class="container background">
    <div class="row">
        <div class="col-12">
            <br>
            <h5>Confirmação de Logout</h5>
        </div>
        <br>
        <div class="col-12">
            <h6>Deseja realmente sair?</h6>
        </div>
        <br>
        <div class="col-6">
            <button class="btn confirm" mat-button (click)="confirmLogout()">Confirmar</button>
        </div>
        <div class="col-6">
            <button class="btn cancel" mat-button (click)="cancelLogout()">Cancelar</button>
        </div>
    </div>
    <br>
</div>