<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-11">
      <h4 class="mb-4">Dados da Empresa</h4>
      <hr>
      <form [formGroup]="profileFormCompany">
       <div class="mb-2">
          <label class="form-label">Nome da Empresa</label>
          <input type="text" class="form-control" placeholder="Nome da Empresa*" formControlName="nomeEmpresa" required>
        </div>
        <div class="mb-2">
          <label class="form-label">Razão Social</label>
          <input type="text" class="form-control" placeholder="Razão Social*" formControlName="razaoSocialEmpresa" required>
        </div>
        <div class="mb-2">
          <label class="form-label">Área de Atuação</label>
          <input type="text" class="form-control" placeholder="Área de Atuação*" formControlName="areaAtuacaoEmpresa" required>
        </div>
        <div class="mb-2">
          <label class="form-label">Número de Funcionários</label>
          <input type="number" class="form-control" placeholder="Número de Funcionários*" formControlName="numeroFuncionariosEmpresa" required>
        </div>
        <div class="mb-2">
          <label class="form-label">Ramo da Empresa</label>
          <input type="text" class="form-control" placeholder="Ramo da Empresa*" formControlName="ramoEmpresa" required>
        </div>
        <div class="mb-2">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="E-mail*" formControlName="emailEmpresa" required>
        </div>
        <div class="mb-4">
          <label class="form-label">Senha</label>
          <input type="password" class="form-control" placeholder="Senha*" formControlName="senhaEmpresa" required>
        </div>
        <div class="justify-content-center align-items-center botoes">
          <button type="button" class="btn btn-gray form-control mb-1" (click)="openEditDialog()">Editar Conta <i class="fa-solid fa-pen-to-square"></i></button>
          <button type="button" class="btn btn-orange form-control" (click)="openDeleteConfirmationDialog()">Excluir Conta <i class="fa-solid fa-trash"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>