.caixa-branca {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 5px black;
  padding-top: 1%;
  padding-bottom: 1%;
}

.border-direita {
  border-right: #747474 solid 0.1px;
}

.btn-color {
  background-color: #c16747;
  color: white;
  width: 100%;
}
.cor-text {
  text-decoration: none;
  color: #747474;
}
