<app-navbar></app-navbar>
<div class="container-fluid pt-5 pb-5 background-white">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <h1 class="display-4">Quem Somos Nós</h1>
      <p class="lead">Conectando Profissionais e Oportunidades</p>
      <hr class="my-4">
      <img src="ADICIONE SUA IMAGEM" alt="Company Image" class="img-fluid rounded mb-4">
      <p class="text-muted">
        O UPS - Unidos para Servir é uma plataforma dedicada a conectar pessoas que desejam fazer a diferença através do trabalho voluntário. Acreditamos que, ao unir forças e compartilhar habilidades, podemos construir uma sociedade mais justa e solidária. Nossa missão é facilitar o encontro entre indivíduos com vontade de ajudar e organizações que necessitam de apoio para suas iniciativas sociais.
        Criamos um espaço simples e acessível para que qualquer pessoa, independentemente de experiência ou disponibilidade, possa encontrar oportunidades de contribuir positivamente para o mundo ao seu redor. No UPS, valorizamos o comprometimento, a empatia e a ação coletiva como pilares para transformar vidas e comunidades.
        Venha fazer parte dessa rede de solidariedade e descubra como o seu tempo e talento podem impactar o futuro!        
      </p>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nossa Missão</h5>
              <p class="card-text">Promover o voluntariado, conectando pessoas e organizações para criar impacto positivo nas comunidades. Facilitamos o acesso a oportunidades de serviço voluntário, incentivando o compromisso social e o desenvolvimento de uma sociedade mais inclusiva e solidária.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nossos Valores</h5>
              <p class="card-text">Inovação, integridade, e compromisso com o sucesso de nossas empresas e usuários.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nossa Visão</h5>
              <p class="card-text">Ser a plataforma de referência para profissionais e empresas em busca de crescimento e oportunidades. Acreditamos que cada pessoa tem o potencial de contribuir, e nosso papel é tornar essa contribuição possível, eficaz e transformadora.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nossa Equipe</h5>
              <p class="card-text">
                Nossa equipe é composta por profissionais dedicados e apaixonados pelo que fazem. Desde desenvolvedores de software até especialistas em marketing, cada membro da nossa equipe está comprometido em entregar a melhor experiência possível para nossos usuários. Trabalhamos incansavelmente para inovar e melhorar nossa plataforma, garantindo que ela atenda às necessidades de todos os profissionais e empresas que a utilizam. Com uma abordagem colaborativa e orientada para resultados, estamos sempre prontos para enfrentar novos desafios e alcançar novos patamares de sucesso.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>