<div class="container">
  <div class="div-logo">
    <img src="../../../assets/logo.png" alt="logo" class="logo"/>
  </div>

  <div class="div-login">
    <div class="login">
      <div class="div-login-texto">
        <h5 class="escrita">Entrar com</h5>
      </div>
      <div class="div-login-botoes">
        <button class="botao-login"><img src="../../../assets/google.png" width="25px"></button>
        <button class="botao-login"><img src="../../../assets/facebook.png" width="25px"></button>
        <button class="botao-login"><img src="../../../assets/apple.png" width="26px" style="padding-bottom: 1px;"></button>
      </div>

      <div class="line-text"><span><b class="escrita">ou</b></span></div>

      <div class="input-group input-login">
        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
        <input type="text" class="form-control border" placeholder="Usuario" aria-label="Usuario">
      </div>
      <div class="input-group input-login">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        <input type="text" class="form-control border" placeholder="Senha" aria-label="Senha">
      </div>

      <div class="div-checkbox">
        <input type="checkbox" style="margin-right: 2%;">
        <label>Termos e condições</label>
      </div>

      <div class="d-grid d-md-block div-botao-login text-center">
        <a href=""><button class="btn btn-color" type="button">Entrar</button></a>
      </div>

      <div class="div-criar-conta">
        <p>Não tem uma conta? <a href="" class="link"><b>Criar uma conta</b></a></p>
      </div>
    </div>
  </div>
</div>
