<app-navbar></app-navbar>
<!-- vagas-empresa.component.html -->
<div class="container-fluid pt-4 p-4">
  <h2>Gerenciamento de Vagas</h2>

  <!-- Botão para abrir diálogo de criação de nova vaga -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-color" (click)="openDialog()">Nova Vaga +</button>
  </div>

  <!-- Tabela de Vagas -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id da Vaga</th>
        <th>Título da Vaga</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaga of vagas">
        <td>{{ vaga.idVaga }}</td>
        <td>{{ vaga.tituloVaga }}</td>
        <td>
          <button class="btn btn-color btn-sm mr-2" (click)="verDetalhes(vaga)">Detalhes</button>
          <button class="btn btn-primary btn-sm mr-2" (click)="editarVaga(vaga)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="excluirVaga(vaga)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
