<app-navbar-search [loggedIn]="true"></app-navbar-search>

<div class="container-fluid body">
  <div class="row pb-5">
    <h2>Vagas Recomendadas</h2>
    <app-slider></app-slider>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="box-desempenho">
        <h5>Seu desempenho até aqui</h5>
        <h6>Referente aos últimos 90 dias</h6>
        <h6>
          <img src="../../../../../../assets/icons/eye.png" alt=""> 
          {{ visitasCV }} Visitas ao CV
        </h6>
      </div>
    </div>

    <div class="col-6">
      <div class="box-cv-enviados">
        <h5>Total de CVs enviados</h5>
        <h6>Referente aos últimos 90 dias</h6>
        <h6>
          <img src="../../../../../../assets/icons/enviados.png" alt=""> 
          {{ totalCVsEnviados }} CVs Enviados
        </h6>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
