<app-navbar></app-navbar>
<div class="container-fluid background-white pt-5 pb-5">
  <div class="row mb-3 align-items-center">
    <div class="col-md-9">
      <h2 class="my-4 text-decoration-underline">Vagas Recomendadas</h2>
    </div>
    <div class="col-md-3 text-end">
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Pesquisar vagas...">
        <button class="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="box-desempenho">
    <h5>Seu desempenho até aqui</h5>
    <h6>Referente aos últimos 90 dias</h6>
    <h6><img src="../../../../../../assets/icons/eye.png" alt=""> Visitas ao CV</h6>
  </div>
  <div class="box-cv-enviados">
    <h5>Total de CVs enviados</h5>
    <h6><img src="../../../../../../assets/icons/enviados.png" alt=""> Referente aos últimos 90 dias</h6>
  </div>
</div>
<app-footer></app-footer>
