<div class="container background">
    <div class="row">
        <div class="col-12">
            <br>
            <h5>Confirmação de exclusão de conta</h5>
        </div>
        <br>
        <div class="col-12">
            <h6>Deseja realmente excluir sua conta?</h6>
        </div>
        <br>
        <div class="col-2">
            <button class="btn confirm pr-2" mat-button (click)="confirmDelete()">Confirmar</button>
        </div>
        <div class="col-10">
        <button class="btn cancel" mat-button (click)="cancelDelete()">Cancelar</button>
        </div>
    </div>
    <br>
</div>
